---
import { Image } from 'astro:assets'

interface Props {
  src: ImageMetadata
  caption?: string
  url?: string
  class?: string
  width?: string
  isTech?: boolean
}

const {
  src,
  caption,
  url,
  width = '1/2',
  class: className = 'w-1/2 mx-auto border border-3 border-accentColor',
  isTech = true
} = Astro.props

// Dynamic border color based on tech flag
const borderColor = isTech ? 'border-techAccent' : 'border-nonTechAccent'

const fullClassName =
  `w-${width} mx-auto border border-3 drop-shadow-[4px_6px_12px_rgba(0,0,0,0.6)] ${className} ${borderColor}`.trim()
---

<figure>
  {
    url ? (
      <a href={url} target="_blank">
        <Image src={src} alt="cool relevant image" class={fullClassName} />
      </a>
    ) : (
      <Image src={src} alt="cool relevant image" class={fullClassName} />
    )
  }
  {
    caption && (
      <figcaption class="mt-2 text-center italic">
        <strong>Figure:</strong> <i>{caption}</i>
      </figcaption>
    )
  }
</figure>
