---
// import FormattedDate from '../components/FormattedDate.astro'
// <div class="last-updated-on">
// 	Last updated on <FormattedDate date={updatedDate} />
// </div>

import Base from '@/layouts/Base.astro'
import PostInfo from '@/components/PostInfo.astro'
import PostNavigation from '@/components/PostNavigation.astro'
import ScrollProgressBar from '@/components/ScrollProgressBar.astro'
import Comments from '@/components/Comments'
import AIHelp from '@/components/AIHelp.tsx'
import ScrollButtons from '../components/ScrollButtons.astro'

import type { CollectionEntry } from 'astro:content'
type Props = CollectionEntry<'blog'>['data']

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  frontmatter,
  minutesRead
} = Astro.props
// const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<Base meta={{ title: frontmatter.title }}>
  <!-- <head> -->
  <!--   <meta name="giscus:backlink" content={canonicalURL.href} /> -->
  <!-- </head> -->
  <ScrollProgressBar />
  <div
    id="markdown"
    class="prose prose-lightMode w-full min-w-full text-lg leading-loose tracking-wide text-lightModeText dark:prose-darkMode prose-headings:font-medium prose-headings:text-accentColor prose-a:text-blue-600 prose-a:no-underline prose-blockquote:text-lightModeText prose-strong:text-lightModeText prose-ol:text-lightModeText prose-ul:text-lightModeText prose-table:text-lightModeText prose-tr:text-lightModeText prose-td:text-lightModeText hover:prose-a:text-blue-800 dark:text-darkModeText dark:prose-a:text-blue-400 dark:prose-blockquote:text-darkModeText dark:prose-strong:text-darkModeText dark:prose-ol:text-darkModeText dark:prose-ul:text-darkModeText dark:prose-table:text-darkModeText dark:prose-tr:text-darkModeText dark:prose-td:text-darkModeText dark:hover:prose-a:text-blue-300 w500:text-lg w500:leading-[2.2] w500:prose-h1:text-3xl w500:prose-h2:text-2xl w500:prose-h3:text-lg w500:prose-h4:text-lg w500:prose-h5:text-lg w500:prose-h6:text-lg w400:text-base w400:leading-[2.2]"
  >
    <PostInfo
      title={frontmatter.title}
      date={frontmatter.pubDate}
      tags={frontmatter.tags}
      minutesRead={minutesRead || '0 min read'}
    />
    <slot />
  </div>

  <PostNavigation
    nextPost={frontmatter.nextPost}
    previousPost={frontmatter.previousPost}
  />

  <Comments client:load />
  <AIHelp client:load items={frontmatter.aiHelp || []} />
  <ScrollButtons />

  <style is:global>
    #markdown code:not(pre)::before,
    #markdown code:not(pre)::after {
      content: '';
    }

    html.dark #markdown code:not(pre code) {
      border: 1px solid rgba(255, 255, 255, 0.2);
    }

    html #markdown code:not(pre code) {
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding: 2px 6px;
      border-radius: 10px;
    }
  </style>
</Base>
